<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <img width="250px" src="picture/photo1640436567.jpeg" alt="My Photo" class="img-thumbnail rounded-circle">
            <h1 class="display-4">Hazlan Muhammad Qodri</h1>
            <p class="lead">Cloud Engineer | Gamer</p>
        </div>
    </div>
</div>