<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>

            <a href="/contact/add" class="btn btn-primary mb-3 mt-3">Tambah Data Contact</a>

            <% if (contacts.length === 0) { %>
              <div class="alert alert-danger fw-bold" role="alert">
                Data contact tidak ada
              </div>
            <% } else { %>
            
            <table class="table table-hover table-stripped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama</th>
                  <th scope="col">No HP</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                    <% nomor_table = 1 %> 
                    <% contacts.forEach(e => { %>
                      <tr>
                        <th scope="row"><%= nomor_table %> </th>
                        <td><%= e.nama %></td>
                        <td><%= e.noHP %></td>
                        <td>
                            <a href="/contact/<%= e.nama %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
                        </td>
                      </tr>
                    <% nomor_table++ }) %>
                  <% } %>
                </tbody>
              </table>
        </div>
    </div>
</div>